*{
    font-family: Bradley Hand, cursive;
}
body{
    background-color: #ffefb5;
    margin: 0;
    padding: 0;

}
.container{
    margin: 20px;
    margin-right: 0;
    padding-right: 0;
}
.col-lg{
    padding-right: 0;
    margin-right: 0;
}
#title{
    font-size: 60px;
    text-align: center;
    background-image: url("paper-background.jpg");
    padding: 40px;
    margin-bottom:  0;
}

#title_break{
    height: 2px;
    background-color: rgb(207, 64, 64);
    margin-top: 0;
    margin-bottom: 0;
}


.sub_btn {
    border-style: dotted;
    padding-right: 40px;
    margin-left: 10px;
    transition: 0.3s;
    border-radius: 6px;
  }

#newToDo{
    background-color: #f3e3aa;
    margin: 0;
    width: fit-content;
    border-style: dotted;
    
}

#list{
    border-style: dotted;
}
.btn-group button {
    background-color: #ffefb5;
    border: dotted black;
    color: black;
    padding: 15px;
    cursor: pointer;
}
  
.btn-group button:not(:last-child) {
    border-bottom: none; 
}
  
.btn-group button:hover {
    background-color: #f3e3aa;
}

.delete-btn{
    background-color: #ffefb5;
    border: none;
    position: relative;
    right: 0;
}
#navvbar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#des_area {
    margin: auto;
    
}

.thing{
    cursor: pointer;
}